@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  background: #1b1b1b;
  color: white;
  text-align: center;
  padding: 10px;
}
main {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
.menu {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.food {
  padding: 20px 10px;
}
.no-food {
  font-size: 20px;
}
.price {
  color: rgb(225, 58, 58);
  margin-left: 10px;
}
p {
  font-size: 12px;
}
img {
  width: 280px;
}
.sold-out-img {
  filter: grayscale(100%);
}
.sold-out-text {
  color: black;
  font-size: 12px;
}
.restaurant-status {
  margin-left: 10px;
}
footer {
  background: #1b1b1b;
  color: white;
  text-align: center;
  padding: 10px;
}
